.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


*
{
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.main
{
    padding: 50px;
    margin: 10px;
    text-align: center;
}

.buttons
{
    border: 2px white;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.buttons #dbd
{
    background: black;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    overflow: hidden;
    padding: 10px 10px;
    transition: 0.2s;
}

.buttons #dbd:hover
{
    border-color: white;
    color: white;
    background: #940404;
}

.buttons #idv
{
    background: black;
    border-color: #ffffff;
    color: #ffffff;
    overflow: hidden;
    padding: 10px 10px;
    transition: 0.2s;
}

.buttons #idv:hover
{
    border-color: white;
    color: white;
    background: #162394;
}