*
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header
{
    width: 100%;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    padding: 20px 10px;
    overflow-x: hidden;
}

.header a
{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    line-height: 25px;
    overflow: hidden;
    transition: 0.2s;
}


  .header a.logo
{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

  .header a:hover
{
    color: rgb(216, 193, 117);
}

  .header-right
{
    float: right;
    padding: 0px 20px;
}

  @media screen and (max-width: 500px)
{
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
}

body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.containcenter
{
  background: url("https://raw.githubusercontent.com/AXX3D/WD-Features/main/pages/identityv/assets/img/orpheus.png");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.center
{
    float: left;
    color: white;
    padding: 20px 0px;
    margin: 50px;
    font-size: 20px;
}


.buttonleft #buy
{
    border-radius: 50px;
    font-size: 15px;
    letter-spacing: 2px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px 85px;
    text-decoration: none;
    transition: 0.2s;
}

.buttonleft #buy:hover
{
    background: rgb(216, 193, 117);
}

.lore
{
  background: rgb(14, 14, 14);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
  overflow-x: hidden;
}

.lore2
{
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 20px 0px;
  margin: 50px;
}

.survivorbg
{
  background: url("https://raw.githubusercontent.com/AXX3D/WD-Features/main/pages/identityv/assets/img/lucky.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
  overflow-x: hidden;
}

.survivor
{
  width: 100%;
  float: left;
  color: white;
  padding: 20px 0px;
  margin: 50px;
}

.hunterbg
{
  background: url("https://raw.githubusercontent.com/AXX3D/WD-Features/main/pages/identityv/assets/img/nightmare.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
  overflow-x: hidden;
}

.hunter
{
  width: 100%;
  float: left;
  color: white;
  padding: 20px 0px;
  margin: 50px;
}

.unique
{
  background: rgb(14, 14, 14);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 20px 0px;
  overflow-x: hidden;
}

.unique2
{
  text-align: center;
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 20px 0px;
  margin: 50px;
}


.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.footercontainer
{
    width: 100%;
    padding: 10px 0px 10px;
}

.socialicons
{
    text-align: center;
    display: flex;
    justify-content: center;
}

.socialicons a
{
    text-align: center  ;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    transition: 0.2s;
}

.socialicons a:hover
{
    color: #000000;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 10px #3a3a3a;
}


.footerbottom
{
    background-color: #000;
    padding: 10px;
    text-align: center;
}

.footerbottom p
{
    font-size: 10px;
    color: white;
}

.designer
{
    text-align: center;
    font-size: 10px;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 500px)
{
    .footernav ul
    {
        flex-direction: column;
    }
    .footernav ul li
    {
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}